<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form action="/asignaturas/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre">
            </div>
            <div class="form-group">
              <select name="planEstudios">
                <option value="grado" selected>Grado</option>
                <option value="master" >Master</option>
                <option value="doctorado">Doctorado</option>
              </select>  
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="cuatrimestre" placeholder="cuatrimestre">
            </div>
            <div class="form-group">
              <input class="form-control" type="number" name="curso" placeholder="curso">
            </div>
           
            <!-- Aquí puedes agregar los demás campos de tu esquema Asignatura -->
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Plan de Estudios</th>
            <th>cuatrimestre</th>
            <th>curso</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < asignaturas.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= asignaturas[i].nombre %></strong></td>
              <td><%= asignaturas[i].planEstudios %></td>
              <td><%= asignaturas[i].cuatrimestre %></td>
              <td><%= asignaturas[i].curso %></td>

              <td>
              
                <a href="/asignaturas/delete/<%= asignaturas[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>
                <a href="/asignaturas/edit/<%= asignaturas[i]._id %>" class="btn btn-info">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

<% include partials/_footer %>
