<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
<<<<<<< HEAD
          <form action="/asignaturas/edit/<%= asignatura._id %>" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre" value="<%= asignatura.nombre %>">
=======
          <form action="/asignaturas/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nombre" placeholder="Nombre">
>>>>>>> terry
            </div>
            <div class="form-group">
              <textarea class="form-control" name="planEstudios" cols="80"
                placeholder="Plan de Estudios"
<<<<<<< HEAD
                ><%= asignatura.planEstudios %></textarea>
=======
                ></textarea>
>>>>>>> terry
            </div>
            <!-- Aquí puedes agregar los demás campos de tu esquema Asignatura -->
            <button class="btn btn-primary" type="submit">
              Add
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Plan de Estudios</th>
            <th>Operations</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < asignaturas.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= asignaturas[i].nombre %></strong></td>
              <td><%= asignaturas[i].planEstudios %></td>
              <td>
                <a
                  class="<%= asignaturas[i].status ? 'btn btn-success' : 'btn btn-dark'%>"
                  href="/asignaturas/turn/<%= asignaturas[i]._id %>">Done</a>
                <a href="/asignaturas/delete/<%= asignaturas[i]._id %>"
                  class="btn btn-danger">
                  Delete
                </a>
                <a href="/asignaturas/edit/<%= asignaturas[i]._id %>" class="btn btn-info">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

<<<<<<< HEAD
<% include partials/_footer%>

=======
<% include partials/_footer %>
>>>>>>> terry
